<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShEx\SHACL</title>

    <link rel="stylesheet" href="stylesheets/lib/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<h1>ShEx/SHACL validator</h1>
<div class="control-panel d-sm-flex">
    <div class="d-sm-flex">
        <label for="shapes-type-select">Validation shapes:</label>
        <select id="shapes-type-select" class="form-control">
            <option value="shex" selected>ShEx</option>
            <option value="shacl">SHACL</option>
        </select>
    </div>
    <div class="d-sm-flex">
        <label for="input-type-select">Validation type:</label>
        <select id="input-type-select" class="form-control">
            <option value="text">Text</option>
            <option value="file">File</option>
        </select>
    </div>
</div>
<div class="inputs">
    <div class="text-inputs d-sm-flex">
        <div>
            <label for="shapes-input">Validation shapes</label>
            <textarea id="shapes-input" class="form-control" cols="30" rows="10"></textarea>
        </div>
        <div>
            <label for="schema-input">Data to validate</label>
            <textarea id="schema-input" class="form-control" cols="30" rows="10"></textarea>
        </div>
    </div>
    <div class="file-inputs d-sm-none">
        <div class="position-relative">
            <input type="file" class="custom-file-input" id="shapes-input-file" lang="en">
            <label class="custom-file-label" for="shapes-input-file">Validation shapes</label>
        </div>
        <div class="position-relative">
            <input type="file" class="custom-file-input" id="schema-input-file" lang="en">
            <label class="custom-file-label" for="schema-input-file">Data to validate</label>
        </div>
    </div>
</div>
<div class="shex-specific">
    <div class="d-sm-flex">
        <label for="start-shape">Start shape:</label>
        <input type="text" class="form-control" id="start-shape" placeholder="eg. http://schema.org/shex#Recipe">
    </div>
    <div class="d-sm-flex">
        <label for="data-id">Data ID:</label>
        <input type="text" class="form-control" id="data-id" placeholder="eg. http://example.org/recipe">
    </div>
</div>
<div class="validate-wrapper">
    <div class="btn btn-light" id="validate-btn">Validate!</div>
</div>
<div class="report"></div>
<script src="javascripts/libs/jquery.min.js"></script>
<script src="javascripts/libs/shacl.bundle.js"></script>
<script src="javascripts/libs/shex.bundle.js"></script>
<script src="javascripts/index.js"></script>
</body>
</html>