<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SDTT</title>

    <link type="text/css" rel="stylesheet" href="stylesheets/lib/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/lib/jsonTree.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/sdtt.css">
</head>
<body>
    <h1>SDTT-like testing for recipes</h1>
    <div class="control-panel">
        <div>
            <label for="input-type">Input type:</label>
            <select id="input-type" class="form-control">
                <option value="text">Text</option>
                <option value="file">File</option>
            </select>
        </div>
        <div>
            <label for="context">Service:</label>
            <select id="context" class="form-control">
                <option value="Google">Google</option>
                <option value="Bing">Bing</option>
                <option value="Pinterest">Pinterest</option>
                <option value="Yandex">Yandex</option>
            </select>
        </div>
    </div>
    <div class="d-sm-flex">
        <div class="wrapper input-wrapper">
            <div class="inputs file-inputs d-sm-none">
                <label for="file-data-input" class="custom-file-label">Choose a file</label>
                <input type="file" class="custom-file-input" id="file-data-input"/>
            </div>
            <div class="inputs text-inputs">
                <div class="tests">

                </div>
                <textarea id="text-data-input" cols="30" rows="20"></textarea>
            </div>
            <div class="btn btn-light" id="validate-btn">Validate</div>
            <div class="btn btn-light" id="shex-btn">Download ShEx shapes</div>
        </div>
        <div class="wrapper results-wrapper d-sm-none">
            <div>Conforms: <span id="conforms"></span></div>
            <div style="color: red">Errors: <span id="errors-count"></span></div>
            <div id="errors"></div>
            <div style="color: orange;">Warnings: <span id="warnings-count"></span></div>
            <div id="warnings"></div>
        </div>
    </div>
    <div class="shex-preview">
        <h2>ShEx shapes for <span></span></h2>
        <pre class="shex-shapes"></pre>
    </div>
    <script src="javascripts/libs/validation.bundle.js"></script>
    <script src="javascripts/libs/jquery.min.js"></script>
    <script src="javascripts/libs/jsonTree.js"></script>
    <script src="javascripts/sdtt.js"></script>
</body>
</html>